<label class="label-input100" for="email">Select symptom..</label>
           <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
              <div class="dropdown" style="width: 448px; height: 35px;">
                <select class="js-example-basic-single" name="state" style="width: 448px; height: 35px;">
                <option value="">Heberden's node</option>
                <option value="">Murphy's sign</option>
                <option value="">Stahli's line</option>
                <option value="">abdomen acute</option>
                <option value="">abdominal bloating</option>
                <option value="">abdominal tenderness</option>
                <option value="">abnormal sensation</option>
                <option value="">abnormally hard consistency</option>
                <option value="">abortion</option>
                <option value="">abscess bacterial</option>

                <option value="">absences finding</option>
                <option value="">achalasia</option>
                <option value="">ache</option>
                <option value="">adverse effect</option>
                <option value="">adverse reaction</option>
                <option value="">agitation</option>
                <option value="">air fluid level</option>
                <option value="">alcohol binge episode</option>
                <option value="">alcoholic withdrawal symptoms</option>
                <option value="">ambidexterity</option>

                <option value="">angina pectoris</option>
                <option value="">anorexia</option>
                <option value="">anosmia</option>
                <option value="">aphagia</option>
                <option value="">apyrexial</option>
                <option value="">arthralgia</option>
                <option value="">ascites</option>
                <option value="">asterixis</option>
                <option value="">asthenia</option>
                <option value="">asymptomatic</option>

                <option value="">ataxia</option>
                <option value="">atypia</option>
                <option value="">aura</option>
                <option value="">awakening early</option>
                <option value="">barking cough</option>
                <option value="">behavior hyperactive</option>
                <option value="">behavior showing increased motor activity</option>
                <option value="">blackout</option>
                <option value="">blanch</option>
                <option value="">bleeding of vagina</option>
'
                <option value="">bowel sounds decreased</option>
                <option value="">bradycardia</option>
                <option value="">bradykinesia</option>
                <option value="">breakthrough pain</option>
                <option value="">breath sounds decreased</option>
                <option value="">breath-holding spell</option>
                <option value="">breech presentation</option>
                <option value="">bruit</option>
                <option value="">burning sensation</option>
                <option value="">cachexia</option>

                <option value="">cardiomegaly</option>
                <option value="">cardiovascular event</option>
                <option value="">cardiovascular finding</option>
                <option value="">catatonia</option>
                <option value="">catching breath</option>
                <option value="">charleyhorse</option>
                <option value="">chest discomfort</option>
                <option value="">chest tightness</option>
                <option value="">chill</option>
                <option value="">choke</option>

                <option value="">cicatrisation</option>
                <option value="">clammy skin</option>
                <option value="">claudication</option>
                <option value="">clonus</option>
                <option value="">clumsiness</option>
                <option value="">colic abdominal</option>
                <option value="">consciousness clear</option>
                <option value="">constipation</option>
                <option value="">coordination abnormal</option>
                <option value="">cough</option>

                <option value="">cushingoid facies</option>
                <option value="">cushingoid\xa0habitus</option>
                <option value="">cyanosis</option>
                <option value="">cystic lesion</option>
                <option value="">debilitation</option>
                <option value="">decompensation</option>
                <option value="">decreased body weight</option>
                <option value="">decreased stool caliber</option>
                <option value="">decreased translucency</option>
                <option value="">diarrhea</option>

                <option value="">difficulty</option>
                <option value="">difficulty passing urine</option>
                <option value="">disequilibrium</option>
                <option value="">distended abdomen</option>
                <option value="">distress respiratory</option>
                <option value="">disturbed family'</option>
                <option value="">dizziness</option>
                <option value="">dizzy spells</option>
                <option value="">drool</option>
                <option value="">drowsiness</option>

                <option value="">dullness</option>
                <option value="">dysarthria</option>
                <option value="">dysdiadochokinesia</option>
                <option value="">dysesthesia</option>
                <option value="">dyspareunia</option>
                <option value="">dyspnea</option>
                <option value="">dyspnea on exertion</option>
                <option value="">dysuria</option>
                <option value="">ecchymosis</option>
                <option value="">egophony</option>

                <option value="">elation</option>
                <option value="">emphysematous change</option>
                <option value="">energy increased</option>
                <option value="">enuresis</option>
                <option value="">erythema</option>
                <option value="">estrogen use</option>
                <option value="">excruciating pain</option>
                <option value="">exhaustion</option>
                <option value="">extrapyramidal sign</option>
                <option value="">extreme exhaustion</option>

                <option value="">facial paresis</option>
                <option value="">fall</option>
                <option value="">fatigability</option>
                <option value="">fatigue</option>
                <option value="">fear of falling</option>
                <option value="">fecaluria</option>
                <option value="">feces in rectum</option>
                <option value="">feeling hopeless</option>
                <option value="">feeling strange</option>
                <option value="">feeling suicidal</option>

                <option value="">feels hot/feverish</option>
                <option value="">fever</option>
                <option value="">flare</option>
                <option value="">flatulence</option>
                <option value="">floppy</option>
                <option value="">flushing</option>
                <option value="">focal seizures</option>
                <option value="">food intoleranc</option>
                <option value="">formication</option>
                <option value="">frail</option>

                <option value="">fremitus</option>
                <option value="">frothy sputum</option>
                <option value="">gag</option>
                <option value="">gasping for breath</option>
                <option value="">general discomfort</option>
                <option value="">general unsteadiness</option>
                <option value="">giddy mood</option>
                <option value="">gravida 0</option>
                <option value="">gravida 10</option>
                <option value="">green sputum</option>

                <option value="">groggy</option>
                <option value="">guaiac positive</option>
                <option value="">gurgle</option>
                <option value="">hacking cough</option>
                <option value="">haemoptysis</option>
                <option value="">haemorrhage</option>
                <option value="">hallucinations auditory</option>
                <option value="">hallucinations visual</option>
                <option value="">has religious belief</option>
                <option value="">headache</option>

                <option value="">heartburn</option>
                <option value="">heavy feeling</option>
                <option value="">heavy legs</option>
                <option value="">hematochezia</option>
                <option value="">hematocrit decreased</option>
                <option value="">hematuria</option>
                <option value="">heme positive</option>
                <option value="">hemianopsia homonymous</option>
                <option value="">hemiplegia</option>
                <option value="">hemodynamically stable</option>

                <option value="">hepatomegaly</option>
                <option value="">hepatosplenomegaly</option>
                <option value="">hirsutism</option>
                <option value="">history of - blackout</option>
                <option value="">hoard</option>
                <option value="">hoarseness</option>
                <option value="">homelessness</option>
                <option value="">homicidal thoughts</option>
                <option value="">hot flush</option>
                <option value="">hunger</option>

                <option value="">hydropneumothorax</option>
                <option value="">hyperacusis</option>
                <option value="">hypercapnia</option>
                <option value="">hyperemesis</option>
                <option value="">hyperhidrosis disorder</option>
                <option value="">hyperkalemia</option>
                <option value="">hypersomnia</option>
                <option value="">hypersomnolence</option>
                <option value="">hypertonicity</option>
                <option value="">hyperventilation</option>

                <option value="">hypesthesia</option>
                <option value="">hypoalbuminemia</option>
                <option value="">hypocalcemia result</option>
                <option value="">hypokalemia</option>
                <option value="">hypokinesia</option>
                <option value="">hypometabolism</option>
                <option value="">hyponatremia</option>
                <option value="">hypoproteinemia</option>
                <option value="">hypotension</option>
                <option value="">hypothermia, natural</option>
                <option value="">hypotonic</option>

                <option value="">hypoxemia</option>
                <option value="">immobile</option>
                <option value="">impaired cognition</option>
                <option value="">inappropriate affect</option>
                <option value="">incoherent</option>
                <option value="">indifferent mood</option>
                <option value="">intermenstrual heavy bleeding</option>
                <option value="">intoxication</option>
                <option value="">irritable mood</option>
                <option value="">jugular venous distention</option>

                <option value="">labored breathing</option>
                <option value="">lameness</option>
                <option value="">large-for-dates fetus</option>
                <option value="">left\xa0atrial\xa0hypertrophy</option>
                <option value="">lesion</option>
                <option value="">lethargy</option>
                <option value="">lightheadedness</option>
                <option value="">lip smacking</option>
                <option value="">loose associations</option>
                <option value="">low back pain</option>
 
                <option value="">lung nodule</option>
                <option value="">macerated skin</option>
                <option value="">macule</option>
                <option value="">malaise</option>
                <option value="">mass in breast</option>
                <option value="">mass of body structure</option>
                <option value="">mediastinal shift</option>
                <option value="">mental status changes</option>
                <option value="">metastatic lesion</option>
                <option value="">milky</option>

                <option value="">moan</option>
                <option value="">monoclonal</option>
                <option value="">monocytosis</option>
                <option value="">mood depressed</option>
                <option value="">moody</option>
                <option value="">motor retardation</option>
                <option value="">muscle hypotonia</option>
                <option value="">muscle twitch</option>
                <option value="">myalgia</option>
                <option value="">mydriasis</option>

                <option value="">myoclonus</option>
                <option value="">nasal discharge present</option>
                <option value="">nasal flaring</option>
                <option value="">nausea</option>
                <option value="">nausea and vomiting</option>
                <option value="">neck stiffness</option>
                <option value="">neologism</option>
                <option value="">nervousness</option>
                <option value="">night sweat</option>
                <option value="">nightmare</option>

                <option value="">no known drug allergies</option>
                <option value="">no status change</option>
                <option value="">noisy respiration</option>
                <option value="">non-productive cough</option>
                <option value="">nonsmoker</option>
                <option value="">numbness</option>
                <option value="">numbness of hand</option>
                <option value="">oliguria</option>
                <option value="">orthopnea</option>
                <option value="">orthostasis</option>

                <option value="">out of breath</option>
                <option value="">overweight</option>
                <option value="">pain</option>
                <option value="">pain abdominal</option>
                <option value="">pain back</option>
                <option value="">pain chest</option>
                <option value="">pain foot</option>
                <option value="">pain in lower limb</option>
                <option value="">pain neck</option>
                <option value="">painful swallowing</option>

                <option value="">pallor</option>
                <option value="">palpitation</option>
                <option value="">panic</option>
                <option value="">pansystolic murmur</option>
                <option value="">para 1</option>
                <option value="">para 2</option>
                <option value="">paralyse</option>
                <option value="">paraparesis</option>
                <option value="">paresis</option>
                <option value="">paresthesia</option>
                
                <option value="">passed stones</option>
                <option value="">patient non compliance</option>
                <option value="">pericardial friction rub</option>
                <option value="">phonophobia</option>
                <option value="">photophobia</option>
                <option value="">photopsia</option>
                <option value="">pin-point pupils</option>
                <option value="">pleuritic pain</option>
                <option value="">pneumatouria</option>
                <option value="">polydypsia</option>

                <option value="">polymyalgia</option>
                <option value="">polyuria</option>
                <option value="">poor dentition</option>
                <option value="">poor feeding</option>
                <option value="">posterior\xa0rhinorrhea</option>
                <option value="">posturing</option>
                <option value="">presence of q wave</option>
                <option value="">pressure chest</option>
                <option value="">previous pregnancies 2</option>
                <option value="">primigravida</option>

                <option value="">prodrome</option>
                <option value="">productive cough</option>
                <option value="">projectile vomiting</option>
                <option value="">prostate tender</option>
                <option value="">prostatism</option>
                <option value="">proteinemia</option>
                <option value="">pruritus</option>
                <option value="">pulse absent</option>
                <option value="">pulsus\xa0paradoxus</option>
                <option value="">pustule</option>

                <option value="">qt interval prolonged</option>
                <option value="">r wave feature</option>
                <option value="">rale</option>
                <option value="">rambling speech</option>
                <option value="">rapid shallow breathing</option>
                <option value="">red blotches</option>
                <option value="">redness</option>
                <option value="">regurgitates after swallowing</option>
                <option value="">renal angle tenderness</option>
                <option value="">rest pain</option>

                <option value="">retch</option>
                <option value="">retropulsion</option>
                <option value="">rhd positive</option>
                <option value="">rhonchus</option>
                <option value="">rigor - temperature-associated observation</option>
                <option value="">rolling of eyes</option>
                <option value="">room spinning</option>
                <option value="">satiety early</option>
                <option value="">scar tissue</option>
                <option value="">sciatica</option>

                <option value="">scleral\xa0icterus</option>
                <option value="">scratch marks</option>
                <option value="">sedentary</option>
                <option value="">seizure</option>
                <option value="">sensory discomfort</option>
                <option value="">shooting pain</option>
                <option value="">shortness of breath</option>
                <option value="">side pain</option>
                <option value="">sinus rhythm</option>
                <option value="">sleeplessness</option>

                <option value="">sleepy</option>
                <option value="">slowing of urinary stream</option>
                <option value="">sneeze</option>
                <option value="">sniffle</option>
                <option value="">snore</option>
                <option value="">snuffle</option>
                <option value="">soft tissue swelling</option>
                <option value="">sore to touch</option>
                <option value="">spasm</option>
                <option value="">speech slurred</option>

                <option value="">splenomegaly</option>
                <option value="">spontaneous rupture of membranes</option>
                <option value="">sputum purulent</option>
                <option value="">st segment depression</option>
                <option value="">st segment elevation</option>
                <option value="">stiffness</option>
                <option value="">stinging sensation</option>
                <option value="">stool color yellow</option>
                <option value="">stridor</option>
                <option value="">stuffy nose</option>
                
                <option value="">stupor</option>
                <option value="">suicidal</option>
                <option value="">superimposition</option>
                <option value="">sweat</option>
                <option value="">sweating increased</option>
                <option value="">swelling</option>
                <option value="">symptom aggravating factors</option>
                <option value="">syncope</option>
                <option value="">systolic ejection murmur</option>
                <option value="">systolic murmur</option>

                <option value="">t wave inverted</option>
                <option value="">tachypnea</option>
                <option value="">tenesmus</option>
                <option value="">terrify</option>
                <option value="">thicken</option>
                <option value="">throat sore</option>
                <option value="">throbbing sensation quality</option>
                <option value="">tinnitus</option>
                <option value="">tired</option>
                <option value="">titubation</option>

                <option value="">todd paralysis</option>
                <option value="">tonic seizures</option>
                <option value="">transaminitis</option>
                <option value="">transsexual</option>
                <option value=""tremor</option>
                <option value="">tremor resting</option>
                <option value="">tumor cell invasion</option>
                <option value="">unable to concentrate</option>
                <option value="">unconscious state</option>
                <option value="">uncoordination</option>

                <option value="">underweight</option>
                <option value="">unhappy</option>
                <option value="">unresponsiveness</option>
                <option value="">unsteady gait</option>
                <option value="">unwell</option>
                <option value="">urge incontinence</option>
                <option value="">urgency of\xa0micturition</option>
                <option value="">urinary hesitation</option>
                <option value="">urinoma</option>
                <option value="">verbal auditory hallucinations</option>

                <option value="">verbally abusive behavior</option>
                <option value="">vertigo</option>
                <option value="">vision blurred</option>
                <option value="">vomiting</option>
                <option value="">weepiness</option>
                <option value="">weight gain</option>
                <option value="">welt</option>
                <option value="">wheelchair bound</option>
                <option value="">wheezing</option>
                <option value="">withdraw</option>
                </select>
       
                <span class="focus-input100"></span>
              </div>
            </div>